@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.title {
    text-align: center;
    background-image: linear-gradient(135deg, rgb(75, 63, 197) 0%, rgb(79, 145, 214) 100%);
    margin-top: 0;
    padding: 20px 0;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease;
}

.title-image {
    position: absolute;
    left: 20px;
}

.main {
    max-width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: relative;
    padding: 20px 20ox 40px 20px;
    /* background-color: #555; */
}

.content {
    max-width: 1200px;  /* Altere para width 100% se não precisar de max-width */
    padding: 20px;
    /* background-color: #f3f3f3bd; */
    border-radius: 5px;
}


.cliente {
    font-size: 1.5rem;
    color: #333333f1;
    display: block;
    margin-bottom: 10px;
}

.content p {
    color: #555;
    font-size: 1.1rem;
    width: 100%;
    margin: 5px 0;
    text-align: justify;
    letter-spacing: 1.1px;
    line-height: 20px;
}

ol {
    list-style-position: inside;
    margin-top: 10px;
}

ol li {
    margin-bottom: 10px;
    color: #555;
    font-size: 1.1rem;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    position: relative;
    /* posição relativa para o pseudo-elemento */
    padding-left: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.1rem;
    color: #555;
    text-align: justify;
}

ul li::before {
    content: "\f00c";
    /* Código do ícone Font Awesome (checkmark) */
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    /* Garante que o ícone seja preenchido (solid) */
    position: absolute;
    left: 0;
    top: 50%;
    /* Centraliza verticalmente */
    transform: translateY(-50%);
    /* Ajusta o alinhamento vertical */
    color: rgba(74, 63, 197, 0.774);
    /* Cor do ícone */
    font-size: 1.2rem;
    /* Tamanho do ícone */
}

.content h2 {
    color: #333333f1;
    margin-bottom: 10px;
}

.content h3,
h4 {
    color: #555;
    margin-bottom: 10px;
}

.content ul>li>a,
#telefone_lis {
    text-decoration: none;
    color: rgb(74, 63, 197);
}


.dadosCartao {
    margin: 15px 0;
    /* background-color: #648be7d2; */    
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    background: linear-gradient(34deg, rgba(74, 63, 197, 0.78) 36%, rgba(0, 213, 255, 0.713) 100%);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 27s ease infinite;
    -moz-animation: AnimationName 27s ease infinite;
    animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.alteracao {
    text-align: center;
    width: 85%;
}

.alteracao>h2 {
    color: #fff;
    /* margin-bottom: 15px; */
    text-transform: uppercase;
    width: 100%;
}

#formasPagamento {
    background-color: #f1f1f1;
    padding: 20px;
    width: 80%;
    border-radius: 5px;
    color: rgb(74, 63, 197);
    font-size: 1.1rem;
    border: none;
    /* margin-bottom: 15px; */
}


.hidden {
    display: none;
}

#cartaoFields, #boletoFields {
    padding: 15px;
}

#cartaoFields h3 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#cartaoFields>label {
    font-size: 1.1rem;
    display: block;
    color: #f1f1f1;
    font-weight: 450;
    margin-bottom: 2px;
}

#nomeCartao,
#numeroCartao,
#codigoSeguranca,
#validadeCartao,
#cpfCartao,
#diaVencimentoCartao {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    background-color: #f1f1f1;
    color: #222222d5;
    border: none;
}

.radio-group {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    gap: 3px;
    flex-wrap: wrap; 
}

.radio-item {
    display: flex;
    align-items: center;
    gap: 3px;
}

/* Aumentando o tamanho do radio button */
input[type="radio"] {
    transform: scale(1.2); /* Aumenta o tamanho da bolinha */
    margin-right: 10px; /* Ajuste o espaçamento se necessário */    
}

.radio-group input[type="radio"], .radio-group label, .radio-group img {
    display: inline-block;
    margin: 0 2px;
}

.radio-group label {
    display: inline-block;
    margin-right: 5px;
    font-size: 1.1rem;
    color: #f1f1f1;
}

.title-radio {
    display: block;
    margin-bottom: 2px;
}

.title-radio>label {
    font-size: 1.1rem;
    color: #f1f1f1;
    font-weight: 450;
}

.radio-group img {
    width: 40px;
}

#elo {
    width: 20px;
    height: 20px;
}

#diners {
    width: 25px;
    height: 25px;
}

.card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-preview {
    /* border: 2px solid #334155; */
    border-radius: 10px;
    width: 500px;
    height: 250px;
    padding: 15px;
    margin: 15px 0;
    /* background: linear-gradient(135deg, rgb(75, 63, 197) 0%, rgb(79, 145, 214) 100%); */
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
    box-shadow: 0px 2px 2px #334155;
    font-family: Arial, sans-serif;
    position: relative;
}

.card-preview h4 {
    text-align: center;
    text-transform: uppercase;
    margin: 5px 0;
    color: #eeeeee;
    margin-bottom: 15px;
}

.card-preview p {
    margin: 5px 0;
    color: #dddddd;
}

.card-preview .card-number {
    font-size: 1.2em;
    letter-spacing: 2px;
}

.card-preview .card-holder,
.card-preview .card-expiry {
    font-size: 0.9em;
}

.card-preview .card-cvv {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 0.8em;
}

#cardHolderPreview,
#cardNumberPreview,
#cardCvvPreview,
#validaCartao {
    margin-bottom: 5px;
}

.card-flag-preview {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 30px;
    height: auto;
}

.footer-card {
    position: absolute;
    /* background-color: #555; */
    bottom: 3px;
    left: 50%;
    transform: translate(-50%);
    opacity: .8;
}

.proRataCartão, .proRataBoleto {
    background-color: #ff7c7c;
    padding: 10px;
    border-radius: 5px;  
    max-width: 600px;  
    margin-top: 10px;
    margin-bottom: 10px;  

    display: none;
    
}

.proRataCartão p, .proRataBoleto p {
    color: #dddddd;
}

#confirm {
    margin: 10px 0;
    display: flex;
    align-items: center; /* Alinha o checkbox e o texto verticalmente */
    gap: 10px;
}

#confirm label {
    color: #dddddd;
    font-size: 1.1rem;
}

#confirm input[type="checkbox"] {
    transform: scale(1.2);    
    width: 20px; 
    height: 20px;
    cursor: pointer;
}

#confirmProRata {
    border-radius: 3px;
}

#dadosCliente {
    padding: 5px;
    border-bottom: 1.5px solid #ffffff40;    
}

#dadosCliente label {
    color: #dddddd;
    font-weight: 450;
    font-size: 1.1rem;
}

.footer-card > span {
    display: block;
    /* background-color: #555; */
    text-align: center;
    color: #dddddd;
    font-size: 0.8rem;
}

.input-field {
    margin-bottom: 10px;
}

.input-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-field input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #ffffff;   
    border: none;
    padding: 10px 10px;
    width: 250px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 430;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #fff;
    color: #fff;
    transition: all 0.3s ease;
}

/* STYLE PARA BOLETOS */

#boletoFields, #cartaoFields {
    width: 70%;
    transition: all 0.3s ease;
}

#boletoFields h3 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#boletoFields>label {
    font-size: 1.1rem;
    display: block;
    color: #f1f1f1;
    font-weight: 450;
    margin-bottom: 2px;
}

#nomeCompleto,
#nomeMae,
#cpf,
#dataNascimento,
#email,
#telefone,
#vencMensalidadeBoleto {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    background-color: #f1f1f1;
    color: #222222d5;
    border: none;
}

#btnEnviar {
    margin-bottom: 5px;
    max-width: 250px;
    background-color: #fff;
    color: #4a3fc5c8;
    border: 1.5px solid #fff;
}

#btnEnviar:hover {
    background-color: #4f8cd5;
    color: #fff;
    border: 1.5px solid #ffffff4e;
}

/* ########## MODAL ############ */

/* Estilo do Modal */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.modal-header {
    padding: 20px;
    background-color: #4B3FC5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 15px;
    letter-spacing: 1.2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header > h1 {
    font-size: 1.5rem;
}

.modal-content {
    padding: 20px;
}

#codigo {
    background-color: #f0f0f0;
    padding: 13px;
    color: #4B3FC5;
    border: none !important;
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.btn {
    background: linear-gradient(135deg, rgb(75,63,197) 0%,rgb(87,108,204) 64%,rgb(122,188,255) 100%);
    color: #fff;
    text-decoration: none;    
    padding: 13px;
    transition: all 0.3s ease;
}

.btn:hover {
    background: linear-gradient(230deg, rgb(75,63,197) 0%,rgb(87,108,204) 64%,rgb(122,188,255) 100%);     
    transition: all 0.3s ease;   
}


.modal-box {
    background-color: white;
    padding: 0 0 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    width: 100%;
}

.codigo {
    margin-left: 20PX;
}

/* Fechar Modal */
.j_modal_close {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* Efeito de desfocar o conteúdo */
body.modal-open .content {
    filter: blur(5px);
}

/* Estilo para o botão e campos */
input[type="text"], input[type="email"], input[type="date"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all 0.3s ease;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4b42afc0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 1.1px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #4B3FC5;
}

@media (max-width: 670px) {   
    
    /* Ajuste para o título e imagem */
    .title {
        padding: 15px;
        text-align: center;
    }
    
    .title > h2 {
        font-size: 1.1rem;
    }
    
    .title-image {        
        left: 0;
        width: 50px;
        display: none;
    }
    
    .main {
        padding: 0px;
        flex-direction: column;
    }

    .content {
        width: 100%;
        padding: 10px;
        background-color: #fff;
    } 

    #formasPagamento {
        width: 100%; 
        padding: 12px;
    }

    #cartaoFields input,
    #boletoFields input {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
    }

    .card-preview {
        width: 100%;
        height: auto;
        margin: 15px 0;
    }   

    /* Ajuste do botão */
    button {
        width: 100%;
        padding: 12px 0;
        font-size: 1.1rem;
    }

    ul li {
        font-size: 1rem;
        padding-left: 20px;
    }

    .cliente {
        font-size: 1.1rem;
        margin-bottom: 2px;
    }

    .content p,
    .content h2,
    .content h3 {
        font-size: 1rem;
        margin-bottom: 5px;
    }

    #cpfCartao,
    #cpf,
    #telefone {
        font-size: 1rem; 
    }

    .dadosCartao {
        padding: 10px;
    }

    #cartaoFields {
        padding: 0;
    }

    .footer-card {
        margin-top: 20px;        
    }

    .footer-card > span {        
        font-size: 0.6rem;
    }

    .radio-group {
        display: flex;
        justify-content: flex-start; 
        align-items: flex-start;
        gap: 10px;
        flex-wrap: wrap;
    }

    .radio-item {
        display: flex;
        align-items: center;
        gap: 0px;
    }

    .radio-group img {
        width: 35px;
        height: auto;
    }

    #boletoFields, #cartaoFields, .alteracao {
        width: 100%;
        transition: all 0.3s ease;
    }

    #boletoFields {
        padding: 0;
    }
}
