@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.title {    
    text-align: center;
    background-image: linear-gradient(135deg, rgb(75,63,197) 0%,rgb(79,145,214) 100%);
    margin-top: 0;   
    padding: 20px 0;    
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease;
}

.title-image {
    position: absolute;
    left: 20px;    
}

.main {
    padding: 20px 0;
    width: 100%;
    
    display: flex;
    justify-content: center;
    background-color: #fff; /* Cor de fundo da main */
    position: relative; /* Necessário para o efeito de backdrop-filter */
}

.content {
    max-width: 1200px;
    padding: 20px;
    background-color: #f3f3f3bd; /* Cor de fundo semi-transparente */
    border-radius: 5px;    
    transition: all 0.3s ease;
   /* backdrop-filter: blur(10px);  Aplica o efeito de blur ao fundo atrás da content */
   /* -webkit-backdrop-filter: blur(10px); /* Necessário para compatibilidade com navegadores Webkit (Safari) */
}


.cliente {
    font-size: 1.5rem;
    color: #333333f1;    
    display: block;
    margin-bottom: 10px;
}

.content p {  
    color: #555;  
    font-size: 1.1rem;
    width: 100%;
    margin: 5px 0;
    text-align: justify;
    letter-spacing: 1.1px;
    line-height: 20px; 
}

ol {
    list-style-position: inside; 
    margin-top: 10px;   
}

ol li {
    margin-bottom: 10px;
    color: #555;
    font-size: 1.1rem;
}

ul {
    list-style: none; 
    padding: 0;
}

ul li {
    position: relative; /* posição relativa para o pseudo-elemento */
    padding-left: 25px; 
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.1rem;
    color: #555;
    text-align: justify;
}

ul li::before {
    content: "\f00c"; /* Código do ícone Font Awesome (checkmark) */
    font-family: "Font Awesome 6 Free";
    font-weight: 900; /* Garante que o ícone seja preenchido (solid) */
    position: absolute;
    left: 0;
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajusta o alinhamento vertical */
    color: rgba(74, 63, 197, 0.774); /* Cor do ícone */
    font-size: 1.2rem; /* Tamanho do ícone */
}

.content h2 {
    color: #333333f1;
    margin-bottom: 10px;
}

.content h3, h4 {
    color: #555;
    margin-bottom: 10px;
}

.content ul > li > a, #telefone_lis {
    text-decoration: none;
    color: rgb(74, 63, 197);
}


.dadosCartao {
    margin-top: 15px;
    background-color: #648be7d2;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.alteracao {
    text-align: center;   
    width: 100%; 
}

.alteracao > h2 {
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
    width: 100%;
}

#formasPagamento {
    background-color: #f1f1f1;
    padding: 20px;
    width: 80%;
    border-radius: 5px;
    color: rgb(74, 63, 197);
    font-size: 1.1rem;
    border: none;
    margin-bottom: 15px;
}


.hidden {
    display: none;
}

#cartaoFields {    
    padding: 15px;
}

#cartaoFields h3 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#cartaoFields > label {    
    font-size: 1.1rem;
    display: block;
    color: #f1f1f1;
    font-weight: 450;
    margin-bottom: 2px;
}

#nomeCartao, #numeroCartao, #codigoSeguranca, #cpfCartao {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    background-color: #f1f1f1;
    color: #222222d5;
    border: none;
}

.card-preview {
    border: 2px solid #f3f3f3a6;
    border-radius: 10px;
    width: 500px;
    height: 250px;
    padding: 15px;
    margin: 15px 0;
    background: linear-gradient(135deg, rgb(75,63,197) 0%,rgb(79,145,214) 100%); 
    box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.6);   
    font-family: Arial, sans-serif;
    position: relative;   
}

.card-preview h4 {
    text-align: center;
    text-transform: uppercase;
    margin: 5px 0;
    color: #dddddd;
    margin-bottom: 15px;
}

.card-preview p {
    margin: 5px 0;
    color: #dddddd;
}

.card-preview .card-number {
    font-size: 1.2em;
    letter-spacing: 2px;
}

.card-preview .card-holder,
.card-preview .card-expiry {
    font-size: 0.9em;
}

.card-preview .card-cvv {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 0.8em;
}

#cardHolderPreview, #cardNumberPreview, #cardCvvPreview {
    margin-bottom: 15px;
}

.footer-card {
    position: absolute;
    /* background-color: #555; */
    bottom: 3px;
    left: 50%;
    transform: translate(-50%);    
    opacity: .8;
}

.footer-card > span {
    display: block;
    /* background-color: #555; */
    text-align: center;
    color: #dddddd;
    font-size: 12px;
}



.input-field {
    margin-bottom: 10px;
}

.input-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-field input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #ffffff;
    color: rgb(75,63,197);    
    border: none;
    padding: 10px 10px;
    width: 250px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 430;
    transition: all 0.3s ease;
}

button:hover {
    background-color: rgb(75,63,197); 
    color: #fff;
    transition: all 0.3s ease;
}

